# Backend
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/storage/*.key
/backend/storage/.migrated
/backend/storage/app/*
!/backend/storage/app/.gitignore
/backend/storage/framework/cache/*
!/backend/storage/framework/cache/.gitignore
/backend/storage/framework/sessions/*
!/backend/storage/framework/sessions/.gitignore
/backend/storage/framework/views/*
!/backend/storage/framework/views/.gitignore
/backend/storage/logs/*
!/backend/storage/logs/.gitignore

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

# Docker
/mysql_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
